# Format:
#   Node_name    IPv4_address    Port    Full_path_to_server_jar
# Path should not contain spaces.

Node1   127.0.0.1   50001   /tmp/ds_ms_3/ms3-server.jar
Node2   127.0.0.1   50002   /tmp/ds_ms_3/ms3-server.jar
Node3   127.0.0.1   50003   /tmp/ds_ms_3/ms3-server.jar
Node4   127.0.0.1   50004   /tmp/ds_ms_3/ms3-server.jar
Node5   127.0.0.1   50005   /tmp/ds_ms_3/ms3-server.jar
Node6   127.0.0.1   50006   /tmp/ds_ms_3/ms3-server.jar
Node7   127.0.0.1   50007   /tmp/ds_ms_3/ms3-server.jar
Node8   127.0.0.1   50008   /tmp/ds_ms_3/ms3-server.jar
